.cartdetails {
  border: solid #dadada 1px;
  height: 5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5px;
}
.lineheightofp {
  line-height: 5px;
}
.footer12 {
  position: absolute;
  bottom: 0;
}
.checkoutbuttonn {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  color: #fff;
  background-color: #f57224 !important;
  border-radius: 1rem;
  border: solid white 1px;
}
