.cardactionn {
  display: flex;
  justify-content: space-between;
}
.themainrow {
  display: flex;
  justify-content: center;
}
.columnn {
  margin-top: 2rem;
  display: flex !important;
  justify-content: center !important;
}
